@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top:10vh;
  height:auto;
  background: linear-gradient(to right, #433d7d, #674ca1);
  color:white;
  max-height:90vh;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 0.45em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #131124;
}
 
body::-webkit-scrollbar-thumb {
  border-radius:0.2em;
  background: linear-gradient(to bottom, #7b6feb, #d3c0fd);
  outline: 2px solid #b89bf8(209, 216, 223);
}

@media (max-width: 700px) {
  body {
    font-size:12px;
    margin-top:10vh;
  }
}



